/* index.css */
:root {
  --primary: #ffffff;
  --bold: #0097b2;
  --secondary: #9a9da0;
  --accent: #f4f4f4; /* very light gray */
  --bottom-footer-bg: #000000; /* black */
}

/* For desktop: */
main {
  flex: 1;
  min-height: 70vh;
  background-color: var(--accent);
}

.content {
  padding-left: 5%;
  padding-right: 5%;
}

.box {
  background: #fff;
  margin: 0 0 30px;
  border: solid 1px var(--light);
  padding: 30px;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

/* Header */
.header {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background: var(--bold);
  padding-left: 5%;
  padding-right: 5%;
}
/* Logo */
.navbar-brand > img {
  height: 200px;
  width: 200px;
  margin-top: -2rem;
  margin-bottom: -2rem;
}
/* Dropdown */
.dropdown {
  display: block;
  position: relative;
}

/* Gallery */
.gallery {
  text-align: center;
  margin-top: 20px;
}
.gallery-grid {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}
.gallery-item {
  max-width: 200px;
  text-align: center;
}
.gallery-item img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.hero h1,
.hero h4,
.highlight h2,
.visit-us h2,
.gallery h2 {
  color: #8b4513; /* A rich brown color */
}

/* Jumbotron */
.jumbotron.jumbotron-fluid {
  width: 100%;
  height: 450px;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0;
}
.jumbotron {
  background-image: url('./images/jumbotron.png');
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: 100%;
}

/* Footer */
footer {
  text-decoration: none !important;
  font-size: 1rem;
  padding: 1rem;
  margin-top: 1rem;
  background: var(--bold);
  color: #ffffff;
  text-align: center;
}
/* Footer social icons */
a.socialIcon {
  margin: 0 1rem;
}
.socialIcon a:hover {
  color: var(--dark);
}
.socialIcon {
  margin: 0 1rem;
  transition: transform 250ms;
}
a.facebookIcon {
  color: var(--primary);
  text-decoration: none !important;
}
a.instagramIcon {
  color: var(--primary);
  text-decoration: none !important;
}
a.youtubeIcon {
  color: var(--primary);
  text-decoration: none !important;
}
a.email {
  color: var(--primary);
  text-decoration: none !important;
}

/* Bottom Footer */
.bottom-footer {
  text-decoration: none;
  width: 100%;
  font-size: 1rem;
  padding: 1rem;
  background: black;
  color: #ffffff;
  text-align: center;
}
/* gabewd in BottomFooter link color */
#linked {
  color: var(--secondary);
  text-decoration: none;
}
